@if ((headerMenu$ | async )?.headerMenuOptions) {
    <div class="container-fluid header-height">
        <div class="row">
            <mat-toolbar class="d-flex g-brand">


                <h1 class="header-menu-logo me-auto">
                    <div class="" [routerLink]="''">
                        <img src="{{( headerMenu$ | async)?.leftLogoUrl }}" alt="">
                    </div>
                </h1>

                <ng-container>
                    @for (option of (headerMenu$ | async)?.headerMenuOptions; track $index; let isFirst = $first) {

                        @if (!loggedIn() && option.name !== 'Account Dashboard' && option.name !== 'Logout') {
                            <button
                                mat-icon-button
                                attr.aria-label="{{ option.name }}"
                                matTooltip="{{ option.toolTip }}"
                                (click)="logout(option)"
                                [ngClass]="{'ml-auto': isFirst}"
                                >
                                <mat-icon>{{ option.icon }}</mat-icon>
                            </button>
                        }

                        @if (loggedIn() && option.name !== 'Login') {
                            <button
                                mat-icon-button
                                attr.aria-label="{{ option.name }}"
                                matTooltip="{{ option.toolTip }}"
                                (click)="logout(option)"
                                [ngClass]="{'ml-auto': isFirst}"
                                >
                                @if (currentUser().photoUrl && option.icon === 'face') {
                                    <mat-icon class="google-user-icon">
                                        <img class="round" src="{{ currentUser().photoUrl }}" alt="user-photo">
                                    </mat-icon>
                                } @else {
                                    <mat-icon>{{ option.icon }}</mat-icon>
                                }
                            </button>
                        }


                    }
                </ng-container>
              <button
                mat-icon-button
                aria-label="Menu"
                matTooltip="Menu"
                (click)="onMenuIconClick()"
                >
                <mat-icon>menu</mat-icon>
              </button>
            </mat-toolbar>
          <hr>
        </div>
    </div>
}
