@if ((headerMenu$ | async )?.headerMenuOptions) {
    <div class="container-fluid">
        <div class="row">
            <mat-toolbar class="d-flex">


                <h1 class="header-menu-logo me-auto">
                    <div class="" [routerLink]="''">Mr G79</div>
                </h1>

<!--                <a [routerLink]="'/'">-->
<!--                    <img src="{{ (headerMenu$ | async)?.leftLogoUrl }}" class="d-none d-sm-block">-->
<!--                </a>-->

<!--                <a [routerLink]="'/'" class="ml-sm-auto">-->
<!--                    <img src="{{ (headerMenu$ | async)?.middleLogoUrl }}" class="n-logo-size">-->
<!--                    <div class="d-inline-block d-sm-none">.io</div>-->
<!--                </a>-->

                <ng-container>
                    @for (option of (headerMenu$ | async)?.headerMenuOptions; track $index; let isFirst = $first) {

                        @if (!loggedIn() && option.name !== 'Account Dashboard' && option.name !== 'Logout') {
                            <button
                                mat-icon-button
                                attr.aria-label="{{ option.name }}"
                                matTooltip="{{ option.toolTip }}"
                                (click)="logout(option)"
                                [ngClass]="{'ml-auto': isFirst}"
                                >
                                <mat-icon>{{ option.icon }}</mat-icon>
                            </button>
                        }

                        @if (loggedIn() && option.name !== 'Login') {
                            <button
                                mat-icon-button
                                attr.aria-label="{{ option.name }}"
                                matTooltip="{{ option.toolTip }}"
                                (click)="logout(option)"
                                [ngClass]="{'ml-auto': isFirst}"
                                >
                                @if (currentUser().photoUrl && option.icon === 'face') {
                                    <mat-icon class="google-user-icon">
                                        <img class="round" src="{{ currentUser().photoUrl }}" alt="user-photo">
                                    </mat-icon>
                                } @else {
                                    <mat-icon>{{ option.icon }}</mat-icon>
                                }
                            </button>
                        }


                    }
                </ng-container>

            </mat-toolbar>

        </div>
    </div>
}
