<div class="container-fluid main-bg-c">
  <section class="d-flex flex-column align-items-center min-vh-100 pt-5">
<!--    <h2 class="fs-6 headingOne">Fully Automated Number Plate Valuations</h2>-->
<!--    <h2 class="fs-6 headingOne">Number Plate</h2>-->
    <h1 class="cabin-font-sketch mt-4 text-center">Fully Automated Number Plate Valuations</h1>
    <h6 class="fs-4 text-center margin-override">A smarter way to value your plate — no waiting, no hassle.</h6>
  </section>

  <section>

  </section>
</div>


