
@if( currentUser$() ){
    <div class="container-fluid container-color">
        <div class="py-5">
            <h1 class="h1-admin-title text-center">Account Dashboard</h1>

            <app-admin [currentUser]="currentUser$()"></app-admin>

            <app-user-account-details [currentUser]="currentUser$()"></app-user-account-details>

            @for( valuation of valuations$(); track valuation.id ){
                <app-account-dashboard-valuation [valuation]="valuation"></app-account-dashboard-valuation>
            }

            <button type="button" class="my-3 mx-auto d-block" color="accent" mat-raised-button [disabled]="!currentUser$()" (click)="signOut()">Sign Out</button>

        </div>
    </div>
}
