$bg-color-yellow: rgb(255, 211, 0); // Yellow
$bg-color-grey: #fff;
$bg-color-seashell: #FFF5EE;
$side-menu-bg-color: #f6f6f6;
$bg-color-ice-blue: #eff9ff;
$base-font: 'base';
$weight: 700;

@mixin cabin-font {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

@mixin cabin-font-sketch {
  font-family: "Cabin Sketch", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
