<mat-sidenav-container autosize class="sidenav-container">
  <mat-sidenav #sidenav class="side-menu-bg" [ngStyle]='{ width : width80Percent }' position="end" mode="over" [(opened)]="opened">
    <div class="d-flex flex-row-reverse m-2">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <app-side-menu></app-side-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header-menu (toggleSidenav)="sidenav.toggle()"></app-header-menu>

    <h1 class="d-flex justify-content-center cabin-font-sketch mt-4">Valuations</h1>
    <h6 class="cabin-font">Are you sick and tired of waiting for a valuation!</h6>
    <router-outlet></router-outlet> </mat-sidenav-content>
</mat-sidenav-container>
