@use '../../../styles/variables' as *;

.cabin-font-heading {
    @include cabin-font;
    color: blue;
    margin-right: 1rem;
}

.cabin-font-text {
    @include cabin-font;
    color: #000;
    font-size: 1.7rem;
}

.cabin-font-text-two {
  @include cabin-font;
  color: #000;
  font-size: 1rem;
}

.cabin-font-text-three{
  @include cabin-font;
  color: #000;
  font-size: 10px;
}

.date-of-purchase-font-text{
  @include cabin-font;
  color: #000;
  font-size: 1.25rem;
}

.reg-plate-val-result {
    background-color: yellow;
    font-weight: bold;
    font-size: 50px;
    padding: 20px 35px;
    border: 3px solid #000;
    border-radius: 5px;
}

$text-color:  rgb(11, 0, 11);
$bevel-color: hsla(  0,  0%, 100%, 1);

.bevel-plate {
  -webkit-text-stroke: 0.025em $text-color;
  -webkit-text-fill-color: transparent;
  color: rgba($text-color, 1);
  text-shadow:
    0  0.025em 0.0375em $text-color,
    0  0       0        $bevel-color;
  font: bold 5em/1 sans-serif;
  position: relative;
  z-index: 0;
}

::selection {
  -webkit-text-stroke: inherit;
  -webkit-text-fill-color: inherit;
  color: inherit;
  background-color: hsla(0, 0%, 80%, 1);
}

::ng-deep .mat-calendar-period-button {
    pointer-events: none;
}
::ng-deep .mat-calendar-arrow {
    display: none;
}

::ng-deep {
  .mat-mdc-slider {
    min-width: 330px !important;
    margin: 0 0 !important;
    
    // .mdc-slider__thumb {
    //   &::before {
    //     content: attr(aria-valuenow);
    //     position: absolute;
    //     top: -40px;
    //     left: 50%;
    //     transform: translateX(-50%);
    //     background: #1976d2;
    //     color: white;
    //     width: 30px;
    //     height: 30px;
    //     border-radius: 50%;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     font-size: 12px;
    //     font-weight: bold;
    //   }
    // }
  }
  
  .slider-value-circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #1976d2;
    color: white;
    font-weight: bold;
    margin-right: 10px;
  }
}

.bg-aquamarine {
  background-color: aquamarine;
}

/* Center */
html,body{height:100%;}html{display:table;width:100%;}body{display:table-cell;vertical-align:middle;text-align:center;overflow: hidden;}
