// Purples
$titan-white: #f1eeff;
$indigo: #6558d3;

.tag {
    display: inline-block;
    background-color: $titan-white;
    color: $indigo;
    font-weight: 600;
    font-size: 0.875rem;
    padding: 0.5em 0.75em;
    line-height: 1;
    border-radius: 6px;
    & + * {
        margin-top: 1rem;
    }
}
