<div class="d-flex justify-content-center mx-3 my-3">
    <mat-card class="mx-3 my-3 col-12 col-sm-6 col-md-8">
      <mat-card-header class="my-3">
        <mat-card-title>Forgot Password</mat-card-title>
      </mat-card-header>
  
      <mat-card-content>
        <div class="">
          <form [formGroup]="forgotPasswordForm">
  
            <div class="d-flex flex-column justify-content-between">
              <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email">
              </mat-form-field>
            </div>
  
          </form>
        </div>
      </mat-card-content>
  
      <mat-card-actions class="d-flex flex-row-reverse">
        <button
          type="button"
          mat-raised-button color="primary"
          [disabled]="forgotPasswordForm.invalid"
          (click)="onPasswordReset()"
        >
          Send Reset Link
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  